    
    html {
      overflow-x: hidden;
      overflow-y: auto;
    }
    body {
      background-color: #fff;
      color: #6d6d6d;
      font-family: 'Muli', sans-serif;
      font-size: 13px;
      line-height: 22px;
      margin: 0;
    }
    body.bg1 {
      background: #ffffff url(../images/bg1.jpg) 50% 0 no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
    }
    .main {
      overflow: hidden;
      position: relative;
    }
    body.boxed .main {
      margin: 0 auto;
      max-width: 1200px;
      background: #fff;
    }
    @media (min-width: 992px) {
      body.boxed .main {
        margin: 0 auto 30px auto;
        -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        overflow: hidden;
        border-radius: 0 0 6px 6px;
      }
    }
    body.boxed .header {
      margin: 0 auto;
      max-width: 1200px;
      width: 100%;
    }
    @media (min-width: 992px) {
      body.boxed .header {
        margin: 30px auto 0 auto;
      }
      body.boxed .header .header-top {
        border-radius: 6px 6px 0 0;
      }
}


.page-heading {
  background: #2f2f2f;
  border-top: 6px solid #d4d4d4;
  border-bottom: 6px solid #d4d4d4;
  position: relative;
  text-align: center;
 
}
@media (min-width: 992px) {
  .page-heading {
    text-align: left;
  }
}
.page-heading:before,
.page-heading:after {
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  background: #bfbfbf;
}
.page-heading:before {
  top: -6px;
}
.page-heading:after {
  bottom: -6px;
}
.page-heading h1 {
  font-size: 24px;
  margin: 0;
  padding: 25px 0 10px 0;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .page-heading h1 {
    padding: 25px 0;
  }
}
.page-heading .breadcrumb {
  background: none;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 20px 0;
}
@media (min-width: 992px) {
  .page-heading .breadcrumb {
    text-align: right;
    padding: 29px 0;
  }
}
.page-heading .breadcrumb > li + li:before {
  content: "\2022";
  padding-right: 6px;
}
.page-heading .breadcrumb a {
  color: #fff;
}
}
.page-content {
  padding-top: 90px;
  padding-bottom: 90px;
}

    .header-coming-soon {
      text-align: center;
      border-top: 4px solid #2f2f2f;
      border-bottom: 1px solid #ddd;
    }
    .header-coming-soon .header-main {
      display: block;
      margin: 0;
      padding: 30px 0;
      height: auto;
    }
    .header-coming-soon .header-main:before,
    .header-coming-soon .header-main:after {
      content: " ";
      display: table;
    }
    .header-coming-soon .header-main:after {
      clear: both;
    }
    @media (min-width: 992px) {
      .header-coming-soon .header-main {
        padding: 80px 0;
      }
    }
    .header-coming-soon .header-main > .container {
      margin-bottom: 0;
      height: auto;
    }
    .header-coming-soon .header-main .logo {
      display: block;
      float: none;
      height: auto;
    }
    .main__padd-top {
      padding-top: 0;
    }
    @media (min-width: 768px) {
      .main__padd-top {
        padding-top: 80px;
      }
    }
  
.googlemap-wrapper {
  position: relative;
  margin: -91px 0 50px 0;
}
.googlemap-wrapper img {
  max-width: none !important;
}
.map-canvas {
  width: 100%;
  height: 200px;
  padding: 6px;
  background-color: #e5e5e5;
  border: 1px solid #cecece;
}
@media (min-width: 768px) {
  .map-canvas {
    height: 320px;
  }
}
@media (min-width: 992px) {
  .map-canvas {
    margin-bottom: 0;
    height: 390px;
  }
}
.map-canvas:before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  margin: -15px 0 0 -15px;
  width: 30px;
  height: 30px;
  color: #2f2f2f;
  content: '\f110';
  text-align: center;
  font-size: 20px;
  font-family: 'FontAwesome';
  line-height: 30px;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*
// #Blog
// --------------------------------------------------
*/
.entry {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 30px;
  margin-bottom: 60px;
  position: relative;
  text-align: center;
}
@media (min-width: 992px) {
  .entry {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .entry.entry__with-icon {
    padding: 0 0 60px 100px;
  }
}
.entry.entry__with-icon .entry-icon {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  height: 70px;
  line-height: 62px;
  margin-right: 30px;
  font-size: 28px;
  text-align: center;
  background-color: #dc2a0b;
  background-image: url(../images/noise.png);
  border-radius: 50%;
  border: 4px solid #ebebeb;
  color: #fff;
}
.entry .entry-header {
  margin-bottom: 25px;
  text-align: left;
}
.entry .entry-header h2 {
  margin-bottom: .25em;
}
.entry .entry-header h2 > a {
  color: #2f2f2f;
}
.entry .entry-header h2 > a:hover {
  text-decoration: none;
  color: #dc2a0b;
}
.entry .entry-header h2.small {
  font-size: 16px;
}
.entry .entry-meta {
  font-size: 12px;
  color: #b4b8be;
  font-style: italic;
}
.entry .entry-meta > span:before {
  content: "/";
  display: inline-block;
  padding: 0 6px 0 2px;
}
.entry .entry-meta > span:first-child:before {
  display: none;
}
.entry .entry-meta a {
  border-bottom: 1px solid transparent;
}
.entry .entry-meta a:hover {
  text-decoration: none;
  border-bottom: 1px solid #dc2a0b;
}
.entry .entry-thumb {
  overflow: hidden;
  padding: 6px;
  background-color: #e5e5e5;
  border: 1px solid #cecece;
  border-radius: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  max-width: 100%;
  height: auto;
  position: relative;
  display: inline-block;
  margin: 0 auto 30px auto;
  text-align: center;
}
@media (min-width: 992px) {
  .entry .entry-thumb {
    display: block;
  }
}
.entry .entry-thumb > a {
  display: block;
  position: relative;
}
.entry .entry-thumb > a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #dc2a0b;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}
.entry .entry-thumb > a:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translate(0, -15px);
  -ms-transform: translate(0, -15px);
  transform: translate(0, -15px);
  z-index: 2;
  margin: -8px 0 0 -13px;
  content: "\f0c1";
  font-family: 'FontAwesome';
  font-size: 28px;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.entry .entry-thumb:hover > a:before {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.entry .entry-thumb:hover > a:after {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.entry .entry-thumb:hover img {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.entry .entry-thumb img {
  padding: 0;
  border: none;
  background: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-bottom: 0;
}
.entry .excerpt {
  margin-bottom: 36px;
  text-align: left;
}
.entry .entry-footer {
  text-align: left;
}
.entry .entry-content {
  text-align: left;
}
.entry.entry__image .entry-thumb img {
  margin-bottom: 0;
}
.entry.entry__link .entry-header {
  margin-bottom: 0;
}
.entry.entry__link .entry-header h2 {
  margin-bottom: .5em;
}
.entry.entry__link .entry-url {
  display: block;
  font-size: 14px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #f4f4f4;
}
.entry.entry__quote .entry-header {
  padding-top: 16px;
  margin-top: 16px;
  border-top: 1px solid #f4f4f4;
}
.entry.entry__quote .quote-holder .quote-inner {
  font-size: 18px;
  line-height: 24px;
  font-style: italic;
  color: #2f2f2f;
}
.entry.entry__small .entry-header {
  margin-bottom: 8px;
}
.entry.entry__small .entry-header h2 {
  font-size: 16px;
}
.entry.entry__small .entry-thumb {
  margin-bottom: 22px;
}
.entry.entry__small .excerpt {
  margin-bottom: 18px;
}
.entry.entry__single {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0;
}
/* Timeline */
@media (min-width: 992px) {
  .timeline {
    position: relative;
  }
  .timeline:before {
    content: "";
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #ebebeb;
  }
  .timeline .entry {
    margin-left: 20%;
    margin-left: 230px;
    padding-left: 0;
  }
  .timeline .entry .entry-icon {
    position: absolute;
    left: -114px;
    top: 0;
  }
  .timeline .entry .entry-date {
    display: block;
    position: absolute;
    left: -190px;
    top: 27px;
  }
  .timeline .entry .entry-date + span:before {
    display: none;
  }
}
/* Blog Masonry Layout */
.masonry-feed {
  padding-left: 0;
  list-style: none;
}
.masonry-feed:before,
.masonry-feed:after {
  content: " ";
  display: table;
}
.masonry-feed:after {
  clear: both;
}
.masonry-feed > .masonry-item {
  margin-bottom: 30px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .masonry-feed > .masonry-item {
    width: 100%;
  }
}
.masonry-feed > .masonry-item .entry {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.masonry-feed > .masonry-item .entry .entry-header h2 {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.masonry-feed > .masonry-item .entry .excerpt {
  margin-bottom: 1.5em;
}
.masonry-feed > .masonry-item .entry .entry-thumb {
  margin-bottom: 1.5em;
}
/* Comments */
.comments-wrapper {
  padding-bottom: 50px;
}
.commentlist {
  padding-left: 0;
  list-style: none;
  /* Nested Comments */
}
.commentlist li .comment-wrapper {
  background: #f7f7f7;
  padding: 18px 18px 20px 86px;
  margin-bottom: 30px;
  position: relative;
  border-left: 3px solid #dcdcdc;
}
.commentlist li .comment-wrapper:before,
.commentlist li .comment-wrapper:after {
  content: " ";
  display: table;
}
.commentlist li .comment-wrapper:after {
  clear: both;
}
@media (min-width: 992px) {
  .commentlist li .comment-wrapper {
    padding: 24px 24px 36px 116px;
  }
}
.commentlist li .comment-wrapper .gravatar {
  display: block;
  position: absolute;
  left: 18px;
  top: 18px;
  border-radius: 50%;
  width: 50px;
  height: auto;
}
@media (min-width: 992px) {
  .commentlist li .comment-wrapper .gravatar {
    width: 70px;
    height: auto;
    left: 24px;
    top: 24px;
  }
}
.commentlist li .comment-author {
  padding-top: 7px;
}
@media (min-width: 992px) {
  .commentlist li .comment-author {
    float: left;
  }
}
.commentlist li .comment-author h5 {
  display: inline-block;
  margin-right: 2px;
  margin-bottom: .2em;
}
.commentlist li .comment-reply {
  padding-top: 8px;
}
@media (min-width: 992px) {
  .commentlist li .comment-reply {
    float: right;
    padding-top: 0;
  }
}
.commentlist li .comment-reply .btn .fa {
  margin-right: 7px;
}
.commentlist li .comment-meta {
  font-size: 12px;
  font-style: italic;
}
.commentlist li .comment-meta > a {
  color: #b4b8be;
}
.commentlist li .comment-body {
  clear: both;
  padding: 12px 0 0 0;
}
.commentlist .children {
  padding-left: 0;
  list-style: none;
}
@media (min-width: 992px) {
  .commentlist .children {
    display: inline-block;
    margin-left: 100px;
  }
}
.commentlist .bypostauthor .comment-wrapper {
  border-left-color: #dc2a0b;
}

.comment-respond .reply-title {
  margin-bottom: .5em;
}

.project-feed-filter {
  padding-left: 0;
  list-style: none;
  
}
.project-feed-filter > li {
  display: inline-block;
  padding: 3px 2px;
}
.project-feed-filter > li .btn-primary {
  text-shadow: none !important;
}
@media (max-width: 400px) {
  .project-feed-filter > li {
    display: block;
    margin-bottom: 5px;
  }
  .project-feed-filter > li .btn {
    display: block;
    width: 100%;
  }
}

.project-feed {
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .project-feed.project-feed__4cols .project-item {
    width: 25%;
  }
}
.project-feed.project-feed__fullw {
  overflow: hidden;
  border: none;
  padding: 0;
}
.project-feed.project-feed__fullw .project-item {
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  margin-bottom: 0;
}
@media (max-width: 767px) and (min-width: 406px) {
  .project-feed.project-feed__fullw .project-item {
    width: 50%;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .project-feed.project-feed__fullw .project-item {
    width: 25%;
  }
}
@media (min-width: 992px) {
  .project-feed.project-feed__fullw .project-item {
    width: 20%;
  }
}
.project-feed.project-feed__fullw .project-item .project-img img {
  width: 100%;
  height: auto;
  padding: 0;
  border: none;
}
.project-feed.project-feed__fullw .project-item .overlay {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.project-item {
  margin-bottom: 30px;
}

.project-item .project-item-inner {
  background: #f7f7f7;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.section-dark .project-item .project-item-inner {
  background: rgba(255, 255, 255, 0.08);
}
.project-item .project-img {
  position: relative;
  overflow: hidden;
  margin: 0;
}
.project-item .project-img > img {
  margin-bottom: 0;
  width: 100%;
  height: auto;
}
.section-dark .project-item .project-img > img {
  background: rgba(255, 255, 255, 0.05);
  border-color: rgba(255, 255, 255, 0.05);
}
.project-item .overlay {
  position: absolute;
  top: 7px;
  left: 7px;
  overflow: hidden;
  right: 7px;
  bottom: 7px;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.project-item .dlink,
.project-item .zoom {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  color: #3C7675;
  background: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 38px;
  text-align: center;
  z-index: 2;
}
.project-item .dlink:hover,
.project-item .zoom:hover {
 background: rgba(85, 107, 47, 0.72);
    color: #fff;
    width: 58%;
    height: 58%;
    margin-top: 11%;
    margin-right: 21%;
}
.project-item .dlink .fa,
.project-item .zoom .fa {
  position: absolute;
  left: 44%;
  top: 50%;
  margin: -19px 0 0 -19px;
}
.project-item .dlink {
  left: 0;
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}
.project-item .zoom {
  right: 0;
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
}
.project-item .zoom .fa-file-text-o {
  margin-left: -13px;
}
.project-item .project-img:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}
.project-item .project-img:hover .dlink,
.project-item .project-img:hover .zoom {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.project-desc {
  text-align: center;
  padding: 25px 20px;
}
.project-desc .title {
  margin-bottom: 5px;
}
.project-desc .title > a {
  color: #2f2f2f;
}
.section-dark .project-desc .title > a {
  color: #fff;
}
.project-desc .title > a:hover {
    color: blue;
    text-decoration: none;
    font-weight: 900;
}
.project-desc .desc {
  color: #b4b8be;
  font-style: italic;
}

h1,
.h1 {
  font-size: 30px;
  margin-bottom: .75em;
}
h2,
.h2 {
  font-size: 24px;
}
h3,
.h3 {
  font-size: 18px;
  
}
h4,
.h4 {
  font-size: 16px;
}
h5,
.h5 {
  font-size: 13px;
}
h6,
.h6 {
  font-size: 12px;
}
p {
  margin: 0 0 1.5em 0;
}

.thumbnail {
  padding: 6px;
  background-color: #e5e5e5;
  border: 1px solid #cecece;
  border-radius: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.thumbnail img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #c1c1c1;
}
.thumbnail .caption {
  color: #2f2f2f;
}
.alignleft,
.alignright,
.alignnone,
.aligncenter {
  text-align: center;
}
.alignleft img,
.alignright img,
.alignnone img,
.aligncenter img {
  padding: 2px;
  background-color: beige;
  border: 1px solid #cecece;
  border-radius: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  max-width: 100%;
  height: auto;
}
@media (max-width: 767px) {
  .alignleft img,
  .alignright img,
  .alignnone img,
  .aligncenter img {
    float: none !important;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .alignleft:before,
  .alignright:before,
  .alignnone:before,
  .aligncenter:before,
  .alignleft:after,
  .alignright:after,
  .alignnone:after,
  .aligncenter:after {
    content: " ";
    display: table;
  }
  .alignleft:after,
  .alignright:after,
  .alignnone:after,
  .aligncenter:after {
    clear: both;
  }
}
.alignleft img {
  float: left;
  margin: 0 20px 10px 0;
}
.alignright img {
  float: right;
  margin: 0 0 10px 20px;
}
.aligncenter {
  display: block;
  text-align: center;
}
.aligncenter img {
  margin: 0 auto 20px auto;
}
.alignnone img {
  margin: 0 0 20px 0;
}
label {
  display: inline-block;
  margin-bottom: 5px;
  color: #2f2f2f;
  font-weight: 600;
}
.btn-inline {
  margin-right: 10px;
}
